@media screen and (orientation:landscape) {
  @media screen and (max-width: 480px) {
    .loading-image {
      margin-left: 224px;
      margin-top: 144px;
    }
  }
  @media screen and (max-width: 1024px) {
    .loading-image {
      margin-left: 496px;
      margin-top: 368px;
    }
  }
}

@media screen and (orientation:portrait) {
  @media screen and (max-width: 480px) {
    .loading-image {
      margin-left: 144px;
      margin-top: 224px;
    }
  }
  @media screen and (max-width: 1024px) {
    .loading-image {
      margin-left: 368px;
      margin-top: 496px;
    }
  }
}
